In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("pre-processed_with_Nan.csv", encoding_errors='ignore')
# Preview the first 5 lines of the loaded data 
data.head()

,Filename,WC,WPS,Qmarks,Unique,Dic,Sixltr,funct,pronoun,ppron,...,work,achieve,leisure,home,money,relig,death,assent,nonfl,filler
0,000.txt,3569,18.88,0.0,24.21,69.07,28.86,43.40,5.77,3.14,...,1.26,0.95,0.36,0.28,0.06,0.00,0.11,0.03,0.14,0.00
1,001.txt,3130,19.56,0.0,36.17,54.63,31.47,29.01,2.04,1.12,...,2.01,1.44,0.61,0.16,0.06,0.06,0.06,0.03,0.06,0.10
2,002.txt,991,19.82,0.0,47.83,57.32,29.06,32.09,4.04,2.62,...,1.51,1.11,0.91,0.30,0.00,0.30,0.71,0.00,0.00,0.00
3,003.txt,732,15.91,0.0,37.30,66.80,27.60,43.44,5.60,4.64,...,0.96,1.91,0.41,0.55,0.14,0.00,0.00,0.00,0.27,0.00
4,004.txt,1174,36.69,0.0,35.09,46.93,18.65,21.64,2.30,1.53,...,3.24,0.77,0.51,0.17,0.09,0.00,0.43,0.00,0.17,0.09

In [ ]:
data = data[['High level category(icd-9)','Age Category','gender','discharge_location','insurance','marital_status','ethnicity','High level category(diagnosis)','los_category','Mental_status','Intentional']]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(data[['High level category(icd-9)','Age Category','gender','discharge_location','insurance','marital_status','ethnicity','High level category(diagnosis)','los_category','Mental_status']], data['Intentional'],test_size=0.2,random_state=100)

In [ ]:
x_train.head()

,High level category(icd-9),Age Category,gender,discharge_location,insurance,marital_status,ethnicity,High level category(diagnosis),los_category,Mental_status
249,NaN,NaN,NaN,2.0,3.0,NaN,0.0,0.0,NaN,1.0
149,NaN,NaN,NaN,0.0,1.0,2.0,0.0,0.0,2.0,0.0
127,NaN,NaN,NaN,2.0,1.0,NaN,0.0,0.0,NaN,0.0
129,NaN,NaN,NaN,3.0,2.0,2.0,0.0,1.0,2.0,0.0
118,NaN,NaN,NaN,3.0,0.0,3.0,0.0,5.0,2.0,0.0

# Performing chi2 test
* chi2 returns 2 values
* **F-score** and **P-value**
* If the F-score is higher the feature is more important
* If the P-value is lower the feature is more important

In [ ]:
from sklearn.feature_selection import chi2
f_p_values = chi2(x_train, y_train)

In [ ]:
f_p_values

In [ ]:
p_values=pd.Series(f_p_values[1])
p_values.index = x_train.columns
p_values

In [ ]:
f_values=pd.Series(f_p_values[0])
f_values.index = x_train.columns
f_values

High level category(icd-9)          1.934787
Age Category                        2.227110
gender                              1.265296
discharge_location                 10.886466
insurance                           1.572870
marital_status                      0.279694
ethnicity                          35.937971
High level category(diagnosis)     11.472741
los_category                        0.285761
Mental_status                     241.792932
dtype: float64

In [ ]:
p_values.sort_values(ascending=True)

Mental_status                     3.128470e-53
ethnicity                         1.570973e-08
High level category(diagnosis)    3.226457e-03
discharge_location                4.325477e-03
Age Category                      3.283894e-01
High level category(icd-9)        3.800723e-01
insurance                         4.554656e-01
gender                            5.311834e-01
los_category                      8.668579e-01
marital_status                    8.694913e-01
dtype: float64

In [ ]:
f_values.sort_values(ascending=False)

Mental_status                     241.792932
ethnicity                          35.937971
High level category(diagnosis)     11.472741
discharge_location                 10.886466
Age Category                        2.227110
High level category(icd-9)          1.934787
insurance                           1.572870
gender                              1.265296
los_category                        0.285761
marital_status                      0.279694
dtype: float64